/* Register.css */

.register-container {
    margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  min-height: calc(100vh - 80px); /* 헤더 높이를 제외한 전체 높이 */
}

.register-form {
  background: #E9F0EF;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.register-form h2 {
  margin-bottom: 24px;
  color: #333;
  font-size: 28px;
  font-weight: 600;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
  outline: none;
  border-color: #5e865f; /* PlantMate 테마 색상 */
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2);
}

.register-button {
    margin-top: 20px;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  background-color:  #5e865f; /* PlantMate 테마 색상 */
  color: #eceded;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-button:hover {
  background-color:  #456246;
}
